[submodule "components/lwrb"]
	path = components/lwrb
	url = https://github.com/MaJerle/lwrb.git
[submodule "components/wsh-shell"]
	path = components/wsh-shell
	url = https://github.com/whoosh-bike/wsh-shell.git
[submodule "components/bme280"]
	path = components/bme280
	url = https://github.com/boschsensortec/BME280_SensorAPI.git
